<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>RoomCalendar</title>

  <link rel='stylesheet' type='text/css' th:href="@{/libs/css/smoothness/jquery-ui-1.8.11.custom.css}" />
  <link rel='stylesheet' type='text/css' th:href='@{/css/jquery.weekcalendar.css}' />
  <style type='text/css'>
    body {
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      margin: 0;
    }

    h1 {
      margin: 0 0 1em;
      padding: 0.5em;
    }

    p.description {
      font-size: 0.8em;
      padding: 1em;
      position: absolute;
      top: 3.2em;
      margin-right: 400px;
    }

    #message {
      font-size: 0.7em;
      position: absolute;
      top: 1em;
      right: 1em;
      width: 350px;
      display: none;
      padding: 1em;
      background: #ffc;
      border: 1px solid #dda;
    }
  </style>

  <script type='text/javascript' th:src='@{/libs/jquery-1.4.4.min.js}'></script>
  <script type='text/javascript' th:src='@{/libs/jquery-ui-1.8.11.custom.min.js}'></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <script type='text/javascript' th:src="@{/js/jquery.weekcalendar.js}"></script>
  <script type="text/javascript" th:src='@{/libs/date.js}'></script>
</head>

<body>
<!-- TODO при подключении ломатеся календарь( -->
<!--  <div th:include="~{fragments/header :: header}"></div>-->

<div class="container">
  <div class="row d-block">
    <div class="navbar navbar-fixed-top navbar-inverse" >
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Репетиционная база OLOLO</a>
          <div class="nav-collapse collapse navbar-responsive-collapse" id="actions-div">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Products <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Gadgets</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li class="divider"></li>
                  <li><a href="#">More &raquo;</a></li>
                </ul>
              </li>
            </ul>

            <script type='text/javascript' th:inline="javascript">

              let token = localStorage.getItem("access_token");

              console.log("TOKEN " + token)

              if (!token) {
                renderForAnonymous();
              } else {
                renderForToken(token);
              }

              function renderForAnonymous() {
                $('#actions-div')
                    .append(
                        `<ul class="nav pull-right">' +
                            <li><a href="/login">Войти</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="/register">Зарегистрироваться</a></li>
                        </ul>`
                    );
              }

              function renderForToken(token) {
                $.ajax({
                  url: "/checkAccess",
                  type: "get",
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                  },
                  success: function(user) {
                    console.log("Access allowed ");
                    console.log(user);
                    $('#actions-div')
                        .append(
                            `<ul class="nav pull-right">
                                <li class="dropdown" id="profile">
                                    <a
                                        href="#" class="dropdown-toggle"
                                        data-toggle="dropdown-menu"
                                        role="button" aria-expanded="false"
                                    >${user.name} (${user.phone}) <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                       <li><a href="/rehearsals">Репетиции</a></li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>
                                 <li><a href="/" onclick="localStorage.clear()">Выйти</a></li>
                            </ul>`
                        );

                    let profile = $('#profile');

                    profile.click(function(){
                      if (profile.hasClass('open')) {
                        profile.removeClass('open')
                      } else {
                        profile.addClass('open');
                      }
                    });
                  },
                  error: function(response) {
                    // expired
                    if(response.status === 401) {
                      localStorage.clear();
                      renderForAnonymous();
                    }
                  }
                });
              }

            </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-block d-inline-block" style="margin-top: 60px;">
    <div class="room-info">

    </div>
  </div>

  <script type='text/javascript' th:inline="javascript">
    $(document).ready(function() {
      const roomId = /*[[${roomId}]]*/'roomId';
      // const artist = /*[[${artist}]]*/'artist';
      const timetableStart = /*[[${timetableStart}]]*/'timetableStart';
      const timetableEnd = /*[[${timetableEnd}]]*/'timetableEnd';

      $.ajax({
        url: "/room/" + roomId,
        type: "get",
        success: function(room) {
          renderRoomData(room);
          renderTimetable(room, timetableStart, timetableEnd);
        },
        error: function (e) {
          console.log(e);
        }
      });

      function renderRoomData(room) {
        $('.room-info')
          .append($('<div><h3>' + room.name + '</h3></div><br/>'))
      }

      function renderTimetable(room, timetableStart, timetableEnd) {
        function displayMessage(message) {
          $('#message').html(message).fadeIn();
        }

        $('<div id="message" class="ui-corner-all"></div>').prependTo($('body'));

        $('#calendar').weekCalendar({
          hourLine: false,
          use24Hour: true,
          data: function (start, end, render) {
            let reserved = [];

            $.ajax({
              url:
                "/room/" + room.id + "/rehearsals/reserved/" +
                start.toISOString().slice(0, 10) + "/" + end.toISOString().slice(0, 10),
              type: "get",
              success: function (rehearsals) {
                rehearsals.forEach(function (rehearsal) {
                  console.log("DTO");
                  console.log(rehearsal);

                  let startYear = rehearsal.startsAt.slice(0, 4);
                  let startMonth = parseInt(rehearsal.startsAt.slice(5, 7)) - 1;
                  let startDay = rehearsal.startsAt.slice(8, 10);
                  let startHour = rehearsal.startsAt.slice(11, 13);

                  let endHour = parseInt(startHour) + rehearsal.duration;

                  let reservedRehearsal = {};

                  reservedRehearsal.start = new Date(startYear, startMonth, startDay, startHour)
                  reservedRehearsal.end = new Date(startYear, startMonth, startDay, endHour);

                  console.log("AFTER");
                  console.log(reservedRehearsal);
                  reserved.push(reservedRehearsal);
                })

                render(reserved);
              },
              error: function (error) {
                console.log(error);
              }
            });
          },
          businessHours: {start: timetableStart, end: timetableEnd, limitDisplay: true},
          defaultEventLength: 1,
          timeslotsPerHour: 1,
          timeslotHeight: 35,

          /** TODO should be passed **/
          timeslotsPerDay: (timetableEnd - timetableStart) / room.roomType.rehearsalMinTime,
          newEventText: '',
          timeSeparator: ' - ',
          startParam: '',
          endParam: '',
          preventDragOnEventCreation: true,
          allowCalEventOverlap: true,
          startOnFirstDayOfWeek: function (calendar) {
            // return $(calendar).weekCalendar('option', 'daysToShow') >= 5;
            return false;
          },
          height: function () {
            return $(window).height() - $('h1').outerHeight(true);
          },
          eventRender: function (calEvent, $event) {
            if (calEvent.end.getTime() < new Date().getTime()) {
              $event.css('backgroundColor', '#aaa');
              $event.find('.time').css({'backgroundColor': '#999', 'border': '1px solid #888'});
            }
          },

          eventNew: function (calEvent, $event) {
            if (calEvent.start.getTime() < new Date().getTime()) {
              return '';
            }
            // displayMessage('<strong>Added event</strong><br/>Start: ' + calEvent.startDatetime + '<br/>End: ' + calEvent.end);

            console.log(calEvent);
            console.log(room);

            let token = localStorage.getItem("access_token");

            if (!token) {
              location.href = "/login";
            } else {
              let date = new Date(calEvent.start);

              let rehearsal = {
                'startsAt': new Date(date.getTime() - date.getTimezoneOffset() * 60 * 1000),
                'room': room,
                // 'artist': artist
              }

              console.log(JSON.stringify(rehearsal));
              console.log(token);

              return;

              $.ajax({
                url: "/rehearsal",
                type: "post",
                beforeSend: function (xhr) {
                  xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                },
                contentType: "application/json",
                data: JSON.stringify(rehearsal),
                success: function (rehearsal) {
                  console.log("Successfully reserved " + rehearsal);
                },
                error: function (e) {
                  console.log(e);
                }
              });
            }
          },

          eventDrop: function (calEvent, $event) {
            displayMessage('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
          },

          eventResize: function (calEvent, $event) {
            displayMessage('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
          },

          eventClick: function (calEvent, $event) {
            displayMessage('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
          },

          eventMouseover: function (calEvent, $event) {
            if (calEvent.end.getTime() < new Date().getTime()) {
              return;
            }
            displayMessage('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
          },

          /** TODO remove **/
          eventMouseout: function (calEvent, $event) {
            if (calEvent.end.getTime() < new Date().getTime()) {
              return;
            }
            displayMessage('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
          },

          noEvents: function () {
            displayMessage('There are no events for this week');
          },

          // forbid events to be dragged
          draggable: function (calEvent, element) {
            return false;
          },

          resizable: function (calEvent, element) {
            return calEvent.duration === 1;
          },
        });
      }
    });

  </script>

  <div id='calendar'>

  </div>
</div>
</body>
</html>
