<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/custom.css}">
<!--    <link rel="stylesheet" th:href="@{common.css}">-->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
</head>
<body>
    <div th:include="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="muted">Введите данные для входа</h4>
                <hr>
                <!--/*@thymesVar id="user" type="ru.otus.project.gateway.dto.security.UserLoginDto"*/-->
                <form id ="login-form" class="form-horizontal" th:action="@{/userLogin}" th:object="${user}" th:method="post">
                    <div class="control-group">
                        <label class="control-label">Телефон (10 цифр)</label>
                        <div class="controls">
                            <input
                                    name="phone"
                                    type="text"
                                    placeholder="Телефон..."
                                    th:field="*{phone}"
                                    th:pattern="${'^[1-9][0-9]{9}$'}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Пароль</label>
                        <div class="controls">
                            <input
                                    name="password"
                                    type="password"
                                    th:field="*{password}"
                                    placeholder="Пароль..."
                                    required>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>

                <div id="welcome-modal" class="modal" tabindex="-1" role="dialog" hidden>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Добро пожаловать</p>
                            </div>
                        </div>
                    </div>
                </div>

                <script type='text/javascript' th:inline="javascript">
                    const loginForm = $('#login-form');

                    loginForm.submit(
                        function (event) {
                            event.preventDefault();

                            $.ajax({
                                url: loginForm.attr('action'),
                                type: "post",
                                data: loginForm.serialize(),
                                success: function (data) {
                                    for (const [key, value] of Object.entries(data)) {
                                        if (key === "access_token") {
                                            localStorage.setItem(key, value);
                                        }
                                    }

                                    $('#welcome-modal').attr('hidden', false);

                                    setTimeout(function(){ $('#welcome-modal').attr('hidden', true); }, 2500);

                                    location.href = `${path}`;
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    );
                </script>
            </div>
        </div>
    </div>

    <div th:include="~{fragments/footer :: footer}"></div>
</body>

</html>