<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/custom.css}">
<!--    <link rel="stylesheet" th:href="@{common.css}">-->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
</head>
<body>
    <div th:include="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="muted">Введите данные для входа</h4>
                <hr>
                <!--/*@thymesVar id="user" type="ru.otus.project.gateway.dto.security.UserLoginDto"*/-->
                <form id ="login-form" class="form-horizontal" th:action="@{/}" th:object="${user}" th:method="post">
                    <div class="control-group">
                        <label class="control-label">Телефон (10 цифр)</label>
                        <div class="controls">
                            <input
                                    name="phone"
                                    type="text"
                                    placeholder="Телефон..."
                                    th:field="*{phone}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Пароль</label>
                        <div class="controls">
                            <input
                                    name="password"
                                    type="password"
                                    th:field="*{password}"
                                    placeholder="Пароль..."
                                    required>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </div>
                </form>

                <div id="welcome-modal" class="modal" tabindex="-1" role="dialog" hidden>
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Добро пожаловать</p>
                            </div>
                        </div>
                    </div>
                </div>

                <script type='text/javascript' th:inline="javascript">
                    $('#login-form').submit(
                        function (event) {
                            event.preventDefault();

                            // const tokenUri = /*[[${tokenUri}]]*/'tokenUri';
                            // const clientId = /*[[${clientId}]]*/'clientId';
                            // const clientSecret = /*[[${clientSecret}]]*/'clientSecret';

                            // let userData = $('#login-form').serialize();

                            // console.log(userData);
                            // console.log(tokenUri);
                            // console.log(clientId);

                            let url = $('#login-form').attr('action');

                            console.log("URL " + url);

                            $.ajax({
                                url: "/clientLogin",
                                type: "post",
                                // contentType: "application/x-www-form-urlencoded",
                                // mimeType: "application/x-www-form-urlencoded",
                                // data: userData,
                                data: $('#login-form').serialize(),
                                // beforeSend: function (request) {
                                //     request.setRequestHeader(
                                //         "Authorization",
                                //         "Basic " + btoa(clientId + ":" + clientSecret)
                                //     )
                                // },
                                success: function (data) {
                                    console.log("RESPONDED ");
                                    console.log(data);

                                    // TODO убрать говнокод
                                    for (const [key, value] of Object.entries(data)) {
                                        if (key === "access_token") {
                                            localStorage.setItem(key, value);
                                        }
                                    }

                                    console.log(localStorage.getItem("access_token"));

                                    $('#welcome-modal').attr('hidden', false);

                                    setTimeout(function(){ $('#welcome-modal').attr('hidden', true); }, 2500);

                                    location.href = "/";
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                        }
                    );
                </script>
            </div>
        </div>
    </div>


</body>

</html>