<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/custom.css}">
</head>
<body>

    <div th:include="~{fragments/header :: header}"></div>

    <!-- Modal -->
    <div
            class="modal fade" id="confirmRegistration" tabindex="-1" role="dialog"
            aria-labelledby="confirmRegistrationLabel" aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title" id="confirmRegistrationLabel">Подтверждение регистрации</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" id="confirm-close">&times;</span>
                        </button>
                    </div>
                </div>
                <!--/* @thymesVar id="smsCode" type="ru.otus.project.gateway.model.phone.SmsCode" */-->
                <form id ="sms-code-form" class="form-horizontal"
                      th:action="@{/api/sms/code/check}" th:object="${smsCode}" th:method="post"
                >
                    <div class="control-group">
                        <label class="control-label">Смс-код</label>
                        <div class="controls">
                            <input
                                    id="sms-code"
                                    name="code"
                                    type="password"
                                    th:field="*{code}"
                                    placeholder="Код..."
                                    required>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                        <button id="no-confirm" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--- -->

    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="muted">Зарегистрируйтесь</h4>
                <hr>
                <!--/*@thymesVar id="artist" type="ru.otus.project.gateway.model.artist.ArtistUser"*/-->
                <form id="registration-form" class="form-horizontal" th:action="@{/register}" th:object="${artist}" th:method="post">
                    <div class="control-group">
                        <label class="control-label">Имя/название группы</label>
                        <div class="controls">
                            <input
                                    name="name"
                                    type="text"
                                    placeholder="Имя/название..."
                                    th:field="*{name}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Жанр</label>
                        <div class="controls">
                            <input
                                    name="genre"
                                    type="text"
                                    th:field="*{genre}"
                                    placeholder="Жанр...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Телефон</label>
                        <div class="controls">
                            <input
                                    id = "phone"
                                    name="phone"
                                    type="text"
                                    th:field="*{phone}"
                                    placeholder="Телефон (10 цифр)..."
                                    th:pattern="${'^[1-9][0-9]{9}$'}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input
                                    name="email"
                                    type="email"
                                    th:field="*{email}"
                                    placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Пароль</label>
                        <div class="controls">
                            <input
                                    name="password"
                                    type="password"
                                    th:field="*{password}"
                                    placeholder="Пароль..."
                                    required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Подтвердите пароль</label>
                        <div class="controls">
                            <input type="password" placeholder="Пароль..." required>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>

                <script type="text/javascript" th:inline="javascript">
                    let regForm = $('#registration-form');

                    regForm.submit(
                        function (event) {
                            event.preventDefault();

                            let phoneField = $('#phone');
                            let phoneNumber = phoneField.val();

                            $.ajax({
                                url: `${path}/api/user?phone=${phoneNumber}`,
                                type: "get",
                                success: function(data) {
                                    alert("Пользователь с таким номером уже зарегистрирован");

                                    phoneField.attr('value', '');
                                },
                                error: function(response) {
                                    if (response.status === 404) {
                                        registrationFlow(phoneNumber);
                                    } else {
                                        alert("Произошла ошибка. Попробуйте еще раз");

                                        location.reload();
                                    }
                                }
                            });
                        });

                    function registrationFlow(phoneNumber) {
                        let confirm = $('#confirmRegistration');

                        $.ajax({
                            url: `${path}/api/sms/code/generate`,
                            type: "post",
                            contentType: "application/json",
                            data: JSON.stringify({number: phoneNumber}),
                            success: function() {
                                confirm.removeClass('fade')

                                $('#confirm-close').click(function () {
                                    confirm.addClass('fade')
                                });
                                $('#no-confirm').click(function () {
                                    confirm.addClass('fade')
                                });

                                let codeForm = $('#sms-code-form');

                                codeForm.submit(
                                    function(e) {
                                        e.preventDefault();

                                        let smsCodeInput = $('#sms-code');

                                        $.ajax({
                                            url: codeForm.attr('action'),
                                            type: "post",
                                            contentType: "application/json",
                                            data: JSON.stringify(
                                                {phone: phoneNumber, code: smsCodeInput.val()}
                                            ),
                                            success: function() {
                                                let registrationForm = $('#registration-form');

                                                let user = {};

                                                regForm.serializeArray().forEach(
                                                    function(input) {
                                                        user[input.name] = input.value;
                                                    }
                                                );

                                                console.log(user);

                                                $.ajax({
                                                    url: registrationForm.attr('action'),
                                                    type: "post",
                                                    contentType: "application/json",
                                                    data: JSON.stringify(user),
                                                    success: function () {
                                                        alert("Вы успешно зарегистрированы");
                                                        location.href = `${path}/login`;
                                                    },
                                                    error: function(registrationError) {
                                                        // TODO to error page!
                                                        alert("Произошла ошибка. Попробуйте еще раз или свяжитесь с нами");

                                                        location.reload();
                                                    }
                                                })
                                            },
                                            error: function() {
                                                alert("Ошибка проверки кода. Попробуем еще раз");

                                                // TODO сохранять данные формы регистрации

                                                location.reload();
                                            }
                                        });
                                    }
                                );
                            },
                            error: function() {
                                alert("Произошла ошибка. Попробуйте еще раз или свяжитесь с нами");

                                location.reload();
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>

    <div th:include="~{fragments/footer :: footer}"></div>
</body>