<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/custom.css}">
</head>
<body>

    <div th:include="~{fragments/header :: header}"></div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="muted">Зарегистрируйтесь</h4>
                <hr>
                <!--/*@thymesVar id="artist" type="ru.otus.project.gateway.dto.artist.ArtistUserDto"*/-->
                <form class="form-horizontal" th:action="@{/register}" th:object="${artist}" th:method="post">
                    <div class="control-group">
                        <label class="control-label">Имя/название группы</label>
                        <div class="controls">
                            <input
                                    name="name"
                                    type="text"
                                    placeholder="Имя/название..."
                                    th:field="*{name}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Жанр</label>
                        <div class="controls">
                            <input
                                    name="genre"
                                    type="text"
                                    th:field="*{genre}"
                                    placeholder="Жанр...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Телефон</label>
                        <div class="controls">
                            <input
                                    name="phone"
                                    type="text"
                                    th:field="*{phone}"
                                    placeholder="Телефон (10 цифр)..."
                                    th:pattern="${'^[1-9][0-9]{9}$'}"
                                    required
                            >
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input
                                    name="email"
                                    type="text"
                                    th:field="*{email}"
                                    placeholder="Email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Пароль</label>
                        <div class="controls">
                            <input
                                    name="password"
                                    type="password"
                                    th:field="*{password}"
                                    placeholder="Пароль..."
                                    required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Подтвердите пароль</label>
                        <div class="controls">
                            <input type="password" placeholder="Пароль..." required>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:include="~{fragments/footer :: footer}"></div>
</body>