<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HomePage</title>
        <script th:src="@{/libs/css/smoothness/jquery-ui-1.8.11.custom.css}"></script>
        <script type="text/javascript" th:src="@{/libs/jquery-1.4.4.min.js}"></script>
    </head>
    <body>
        <h4>Добро пожаловать на нашу репетиционную базу</h4>
        <a href="/rooms/view">Забронировать комнату</a>
        <br />
        <a href="/rehearsals">Мои репетиции</a>
    </body>
</html>