<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Header</title>
    </head>
    <body>
        <div th:fragment="header">
            <script type="text/javascript" th:src="@{/libs/jquery-1.4.4.min.js}"></script>
            <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
            <script type="text/javascript" th:src="@{/js/app.js}"></script>

            <div class="navbar navbar-fixed-top navbar-inverse" >
                <div class="navbar-inner">
                    <div class="container">
                        <a th:href="${path}" class="brand" th:text="${'Репетиционная база ' + baseName}">Репетиционная база </a>
                        <div class="nav-collapse collapse navbar-responsive-collapse" id="actions-div">
                            <ul class="nav">
                                <li class="dropdown" id="rooms-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Комнаты <b class="caret"></b></a>
                                    <ul class="dropdown-menu" id="rooms-dropdown-list"></ul>
                                </li>
                            </ul>

                            <script type='text/javascript' th:inline="javascript">
                                const path = /*[[${path}]]*/'path';

                                console.log(path);

                                $.ajax({
                                    url: `${path}/api/rooms/active`,
                                    type: "get",
                                    success: function(rooms) {
                                        rooms.forEach(
                                            function(room) {
                                                $('#rooms-dropdown-list').append(
                                                    `<li><a href="${path}/room/${room.id}/timetable">${room.name}</a></li>`
                                                )
                                            }
                                        )
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                })

                                toggle('#rooms-dropdown');

                                accessStrategy(
                                    `${path}/currentUser`,
                                    function(user) {
                                        console.log("Access allowed " + user);
                                        renderUserHeader(user);
                                        toggle('#profile');
                                    },
                                    function() {
                                        renderForAnonymous();
                                    }
                                )

                                function renderUserHeader(user) {
                                    $('#actions-div')
                                        .append(
                                            `<ul class="nav pull-right">
                                                <li class="dropdown" id="profile">
                                                    <a
                                                        href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown-menu"
                                                        role="button" aria-expanded="false"
                                                    >${user.name} (${user.phone}) <span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                       <li><a href="${path}/rehearsals">Репетиции</a></li>
                                                    </ul>
                                                </li>
                                                <li class="divider-vertical"></li>
                                                 <li><a href="${path}" onclick="localStorage.clear()">Выйти</a></li>
                                            </ul>`
                                        );
                                }

                                function renderForAnonymous() {
                                    $('#actions-div')
                                        .append(
                                            `<ul class="nav pull-right">' +
                                                <li><a href="${path}/login">Войти</a></li>
                                                <li class="divider-vertical"></li>
                                                <li><a href="${path}/register">Зарегистрироваться</a></li>
                                            </ul>`
                                        );
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>