<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rehearsals</title>
</head>
<body>
    <div th:fragment="rehearsals">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet"  th:href="@{/css/custom.css}">
    <script type="text/javascript" th:src="@{/libs/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>

        <div class="container" id="table-container">
            <h4 class="muted">Мои репетиции</h4>
            <script type='text/javascript' th:inline="javascript">
                accessStrategy(
                    `${path}/artist/rehearsals`,
                    function (rehearsals) {
                        if (rehearsals.length !== 0) {
                            renderRehearsalsTable(rehearsals);
                        }

                        handleCancellation();
                    },
                    function() {
                        console.log('Request error occurred');
                    }
                );

                function renderRehearsalsTable(rehearsals) {
                    $('#table-container').append(
                        `
                            <table id = "book-info" class="table">
                                <thead>
                                <tr class="table-light">
                                    <th>Дата</th>
                                    <th>Время</th>
                                    <th>Комната</th>
                                    <th>Статус</th>
                                    <th>Цена</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        `
                    );

                    renderRehearsals(rehearsals);
                }

                function renderRehearsals(rehearsals) {
                    rehearsals.forEach(function(rehearsal) {
                        let row =
                            $(
                                `<tr class="table-success">
                                    <td>${rehearsal.date}</td>
                                    <td>${rehearsal.start}</td>
                                    <td>
                                        <a href=${path}/room/${rehearsal.room.id}/timetable>
                                            ${rehearsal.room.name}
                                        </a>
                                    </td>
                                    <td>${rehearsal.status}</td>
                                    <td>${rehearsal.price}</td>`
                            );

                        if (rehearsal.cancelable) {
                            row.append(`
                                <a
                                class="btn btn-primary btn-info btn-sm cancel-rehearsal-btn"
                                href="${path}/rehearsal/${rehearsal.id}">Отменить</a>`
                            );
                        }

                        $('tbody').append(row);
                    })
                }

                function handleCancellation() {
                    $(".cancel-rehearsal-btn").click(
                        function (event) {
                            event.preventDefault();

                            $.ajax({
                                url: $(this).attr("href"),
                                type: "delete",
                                success: function() {
                                    alert("Репетиция отменена");
                                    location.reload();
                                },
                                error: function(jqXHR) {
                                    // TODO сделать адекватнее
                                    location.reload();
                                }
                            })
                        }
                    );
                }
            </script>
        </div>
    </div>
</body>
</html>